<div {{{attributes}}} data-wp-interactive="konomi" data-wp-context="{{context}}">
    {{{content}}}

    {{#popover.anchor}}
        {{> Konomi/partials/popover}}
    {{/popover.anchor}}

    {{#dialog}}
        {{> Konomi/partials/dialog}}
    {{/dialog}}
</div>
