{{#loggedOut}}
	<div class="konomi-user-profile konomi-user-profile--logged-out">
		<h2>{{loggedOut.title}}</h2>
		<p>{{loggedOut.message}}</p>
		<a href="{{{loggedOut.loginPageUrl}}}">{{loggedOut.loginPageLabel}}</a>
	</div>
{{/loggedOut}}
