<span
    popover="manual"
    class="konomi-response-message"
    style="position-anchor: {{{popover.anchor}}}"
    data-wp-text="context.error.message"
    data-wp-run--maybe-render-response-error="callbacks.maybeRenderResponseError"
>
</span>
