name: Testing Coverage

on:
    workflow_dispatch: { }

    pull_request:
        types: [ assigned, opened, reopened, ready_for_review, synchronize ]
    push:
        branches:
            - 'main'
        paths:
            - '**/workflows/testing-coverage.yml'
            - 'sources/**.php'
            - 'sources/**.ts'
            - 'sources/**.tsx'
            - 'sources/**.scss'
            - 'resources/**.ts'
            - 'resources/**.tsx'
            - 'resources/**.scss'
            - 'tests/**.php'
            - 'tests/**/**.ts'
            - 'tests/**/**.tsx'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}

jobs:
    testing-coverage:
        runs-on: ubuntu-latest
        if: ${{ !contains(github.event.head_commit.message, '--skip ci') && !github.event.pull_request.draft }}
        steps:
            -   name: Checkout
                uses: actions/checkout@v4

            -   name: Setup Node
                uses: actions/setup-node@v4
                with:
                    cache: yarn
                    node-version: 20

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.4
                    coverage: xdebug
                    tools: composer:v2

            -   name: Install Npm Dependencies
                run: yarn install --frozen-lockfile

            -   name: Install PHP Dependencies
                run: composer install --prefer-dist --no-progress --no-interaction

            -   name: Build Artifacts
                uses: widoz/github-artifacts-action@main
                env:
                    GIT_USER: konomi-bot
                    GIT_EMAIL: konomi-bot@konomi.bot
                    HUSKY: 0
                with:
                    command: 'yarn build'
                    target-dir: './sources'
                    can-push: 'false'

            -   name: Php Coverage Unit
                run: composer run test:unit:coverage

            -   name: Php Coverage Integration
                run: composer run test:integration:coverage

            -   name: Php Coverage Functional
                run: composer run test:functional:coverage

            -   name: JavaScript Coverage
                run: yarn test:coverage

            -   name: Upload coverage reports to Codecov
                uses: codecov/codecov-action@v5
                with:
                    files: ./coverage-unit.xml,./coverage-integration.xml,./coverage-functional.xml,./coverage/lcov.info
                    flags: php-unit,php-integration,php-functional,js-unit
                    name: codecov-umbrella
                    fail_ci_if_error: false
                    verbose: true
                    token: ${{ secrets.CODECOV_TOKEN }}
                    slug: ${{ github.repository }}
